<div class="menuToggle"></div>
<div class="siderbar">
    <ul>
        <li class="logo" style="--bg:#00BCD4;">
            <a href="#inicio">
                <div class="icon">
                    <ion-icon name="planet-outline"></ion-icon>
                </div>
                <div class="text">
                    Inicio
                </div>
            </a>
        </li>
        <div class="Menulist">
            <li style="--bg:#ffa117;">
                <a href="#clase1">
                    <div class="icon">
                        <ion-icon name="text-outline"></ion-icon>
                    </div>
                    <div class="text">
                        Comillas
                    </div>
                </a>
            </li>
            <li style="--bg: #0fc70f;">
                <a href="#clase2">
                    <div class="icon">
                        <ion-icon name="code-outline"></ion-icon>
                    </div>
                    <div class="text">
                        Procesar con PHP
                    </div>
                </a>
            </li>
            <li  style="--bg: #f0da50;">
                <a href="#clase3">
                    <div class="icon">
                        <ion-icon name="logo-javascript"></ion-icon>
                    </div>
                    <div class="text">
                        Interactuar con JS
                    </div>
                </a>
            </li>
            <li  style="--bg: #e200e2;">
                <a href="#clase4">
                    <div class="icon">
                        <ion-icon name="git-pull-request-outline"></ion-icon>
                    </div>
                    <div class="text">
                        xmlHttpRequest
                    </div>
                </a>
            </li>
            <li  style="--bg: #f44336;">
                <a href="#clase5">
                    <div class="icon">
                        <ion-icon name="code-working-outline"></ion-icon>
                    </div>
                    <div class="text">
                        JQuery
                    </div>
                </a>
            </li>
        </div>
    </ul>
</div>