<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="public/js/jquery.min.js"></script>
<script src="public/js/menu.js"></script>
<script src="public/js/clase2v4.js"></script>
<script src="public/js/clase3.js"></script>
<script src="public/js/clase4.js"></script>
<script src="public/js/clase5.js"></script>
<script src="public/js/scripts.js"></script>